<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Real-time Speech Recognition</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    
</head>
<body>
    <div id="container">
    <header>
        <h1>Automatic Speech Recognition For English</h1>
        <div id="menu">
            <ul>
                <li><a href="http://127.0.0.1:8080/">Home</a></li>
                <span class="divider">|</span>
                <li><a href="http://127.0.0.1:8080/asr-live">Translate live</a></li>
                <span class="divider">|</span>
                <li><a href="http://127.0.0.1:8080/chatroom">Chatroom</a></li>
            </ul>
        </div>
    </header>
    <div id="asrcontainer">
        <div id="left">
            <img src="/static/images/live.avif" id="voiceImage">
        </div>

    <div class="container my-4">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3>Live Speech to text Conversion</h3>
                    </div>
                    <div class="card-body">
                        <!-- Messages Display -->
                        <div id="messages" class="mb-3" style="height: 300px; overflow-y: scroll;"></div>

                        <div class="record-section">
                            <div id="timer" class="timer">00:00</div>
                            <div id="actions">
                                <i class="material-icons" id="recordButton" style="color:green;">mic_off</i>
                                
                            </div>
                        </div>
    
                        <!-- Chat Input -->
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>
<script src="/static/js/live.js"></script>
</body>
</html>